body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#app {
    text-align: center;
}

#fetch-users {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#fetch-users:hover {
    background-color: #0056b3;
}

#user-container {
    margin-top: 20px;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
}

.user-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.user-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.user-card h2 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.user-card p {
    margin: 5px 0;
    color: #666;
}
